{%- import 'macros.j2' as macros -%}
# {{ inp['title'] }}

{{ inp['long_desc'] }}

## Setup

{{ inp['setup_text'] }}
{% if has_user_params -%}
#### Configuration Parameters

| Parameter |  Required | Type | Description |
| --- | --- | --- | --- |
{# iterate over all required fields -#}
{% for param in sorted_params -%}
{% if param['show_user'] -%}
{{ macros.param_row(param) }}
{% endif %}
{% endfor %}
{% endif %}

{% if has_hidden_user_params -%}
#### Advanced Configuration Parameters

| Parameter |  Required | Type | Description |
| --- | --- | --- | --- |
{# iterate over all required fields -#}
{% for param in sorted_params -%}
{% if not param['show_user'] -%}
{{ macros.param_row(param) }}
{% endif %}
{% endfor %}
{% endif %}
