{%- import 'macros.j2' as macros -%}
# {{ inp['title'] }}

{{ inp['long_desc'] }}

## Setup

### Collecting logs from {{ inp['title'] }}

{{ inp['setup_text'] }}
#### Configuration Parameters

| Parameter |  Required | Type | Description |
| --- | --- | --- | --- |
{# iterate over all required fields -#}
{% for param in sorted_params -%}
{% if param['show_user'] -%}
{{ macros.param_row(param) }}
{% endif %}
{% endfor %}

#### Advanced Configuration Parameters

| Parameter |  Required | Type | Description |
| --- | --- | --- | --- |
{# iterate over all required fields -#}
{% for param in sorted_params -%}
{% if not param['show_user'] -%}
{{ macros.param_row(param) }}
{% endif %}
{% endfor %}

