# {{ inp['title'] }}

{{ inp['long_desc'] }}

## Setup

### Collecting logs from {{ inp['title'] }}

#### Configuration Parameters

| Parameter |  Required | Type | Description |
| --- | --- | --- | --- |
{# iterate over all required fields -#}
{% for param in sorted_params -%}
{% if param['show_user'] -%}
{% set row %}
| {{ param['title'] }}
{% if param['required'] -%}
| ![Required](https://img.shields.io/badge/✔-93c93e?style=flat)
{% else -%}
| ![Optional](https://img.shields.io/badge/✘-fed10c?style=flat)
{% endif -%}
| {{ param['type'] }}
| {{ param['description'] }}
{% endset %}
{{ row | replace("\n", " ") }} |
{% endif %}
{% endfor %}

#### Advanced Configuration Parameters

| Parameter |  Required | Type | Description |
| --- | --- | --- | --- |
{# iterate over all required fields -#}
{% for param in sorted_params -%}
{% if not param['show_user'] -%}
{% set row %}
| {{ param['title'] }}
{% if param['required'] -%}
| ![Required](https://img.shields.io/badge/✔-93c93e?style=flat)
{% else -%}
| ![Optional](https://img.shields.io/badge/✘-fed10c?style=flat)
{% endif -%}
| {{ param['type'] }}
| {{ param['description'] }}
{% endset %}
{{ row | replace("\n", " ") }} |
{% endif %}
{% endfor %}

